<footer>
	<div class="container">
		<div class="row" id="footer-row">
			<!-- First Column -->
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-3">
						<img src="/static/images/logo_polimi.png" alt="Polimi Logo">
					</div>
					<div class="col-md-9">
						<img src="/static/images/rhul_logo.jpg" alt="RHUL Logo">
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<hr>
						<p class="text-muted">
							Phoenix is being developed at <a href="http://www.polimi.it/">Politecnico Di Milano</a>
							in collaboration with <a href="http://www.rhul.ac.uk/home.aspx">Royal Holloway University of London</a>.
						</p>
					</div>
				</div>
			</div>
			<!-- Second Column -->
			<div class="col-md-2">
			</div>
			<!-- Third Column -->
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="/how_it_works"><strong>How It Works</strong></a></li>
					<li><a href="/filtering">AGD Filtering</a></li>
					<li><a href="/clustering">AGD Clustering</a></li>
					<li><a href="/fingerprinting">DGA Fingerprinting</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="/overview"><strong>Results Overview</strong></a></li>
					<li><a href="/domains">Malicious Domains</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<ul class="nav nav-pills nav-stacked">
					<li><a href="/apis"><strong>APIs</strong></a></li>
					<li><a href="/apis#domains-apis">Domains APIs</a></li>
					<li><a href="/apis#single-domain-apis">Single Domain APIs</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>