<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <img src="/static/images/phoenix_logo.png" alt="Phoenix logo.">
      Phoenix
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          How Phoenix Works<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/how_it_works">How it works</a></li>
          <li><a href="/filtering">AGD Filtering</a></li>
          <li><a href="/clustering">AGD Clustering</a></li>
          <li><a href="/fingerprinting">DGA Fingerprinting</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Phoenix Results<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/overview">Results Overview</a></li>
          <li><a href="/domains">Malicious Domains</a></li>
        </ul>
      </li>
      <li><a href="/apis">APIs</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
  </div>
</nav>