{% extends 'layout/base.html' %}
{% block style %}
    <style>
      .axis text
        {
          fill: #fff;
          stroke: none;
          font-family: sans-serif;
          font-size: 10px;
          font-weight: thin;
        }
      .axis .domain
        {
          stroke: #fff;
          opacity: 0;
        }
      .tick { stroke: #fff; }
      svg { 
            width: 500px;
            height: 500px;
            background: #2d2d2d; }
    </style>
{% endblock %}

{% block container%}
<div class="row">
  <div class="col-md-12">
    <h2>AGD Filtering</h2>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <svg id="clusters-vis"></svg>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Dashboard</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <label for="select-cluster">Select a cluster</label>
            <select name="select-cluster" id="select-cluster" class="form-control">
              <option value="none">none</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="xaxis">X Axis Domain</label>
            <select name="xaxis" id="xaxis" class="form-control">
              <option value="one_gram">One Gram</option>
              <option value="two_gram">Two Gram</option>
              <option value="three_gram">Three Gram</option>
              <option value="meaningful_word_ratio">Meaningful Word Ratio</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="yaxis">Y Axis Domain</label>
            <select name="yaxis" id="yaxis" class="form-control">
              <option value="one_gram">One Gram</option>
              <option value="two_gram">Two Gram</option>
              <option value="three_gram">Three Gram</option>
              <option value="meaningful_word_ratio">Meaningful Word Ratio</option>
            </select>
          </div>
        </div>
      </div>

    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Domain Information</h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Explanation</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Linguistic Features</h3>
    <p>
      Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus 
      dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, 
      egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna.
    </p>
  </div>
  <div class="col-md-6">
    <img src="http://placehold.it/500x350" alt="">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Statistical Linguistic Filter</h3>
    <p>
      Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus 
      dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus ac facilisis in, 
      egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna.
    </p>
  </div>
  <div class="col-md-6">
    <img src="http://placehold.it/500x350" alt="">
  </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/js/filtering.js"></script>
{% endblock %}
