{% extends 'layout/base.html' %}
{% block style %}
  <link href="/static/css/d3js.css" rel="stylesheet" media="screen">
{% endblock %}

{% block container%}
<div class="row">
  <div class="col-md-12">
    <h2>AGD Filtering</h2>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <svg id="clusters-vis"></svg>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Dashboard</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <label for="select-cluster">Select a cluster</label>
            <select name="select-cluster" id="select-cluster" class="form-control">
              <option value="none">none</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="xaxis">X Axis Domain</label>
            <select name="xaxis" id="xaxis" class="form-control">
              <option value="one_gram" selected="selected">One Gram</option>
              <option value="two_gram">Two Gram</option>
              <option value="three_gram">Three Gram</option>
              <option value="meaningful_word_ratio">Meaningful Word Ratio</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="yaxis">Y Axis Domain</label>
            <select name="yaxis" id="yaxis" class="form-control">
              <option value="one_gram">One Gram</option>
              <option value="two_gram" selected="selected">Two Gram</option>
              <option value="three_gram">Three Gram</option>
              <option value="meaningful_word_ratio">Meaningful Word Ratio</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Domain Information</h3>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div id="radar-chart"></div>
        </div>
        <div class="col-md-6">
          <table class="table">
            <tr>
              <td>Url</td>
              <td id="domain-url"></td>
            </tr>
            <tr>
              <td>Meaningful Word Ratio</td>
              <td id="domain-meaningful"></td>
            </tr>
            <tr>
              <td>One Gram</td>
              <td id="domain-one_gram"></td>
            </tr>
            <tr>
              <td>Two Gram</td>
              <td id="domain-two_gram"></td>
            </tr>
            <tr>
              <td>Three Gram</td>
              <td id="domain-three_gram"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Explanation</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p>
      In this step we make the assumption that if a domain is automatically generated it has different linguistic features with respect to a domain that is generated by a human. This assumption is reasonable because HGDs have the primary purpose of being easily 
    </p>
  </div>
  <div class="col-md-6">
    <p>
      remembered and used by human beings, thus are usually built in a way that meets this goal. On the other hand, AGDs exhibit a certain degree of linguistic randomness, as numerous samples of the same randomized algorithm exist.
    </p>
  </div>
</div>
<div class="row">
  <hr>
  <div class="col-md-6">
    <h3>Linguistic Features</h3>
    <p>
      For ease of explanation and implementation, Phoenix considers linguistic features based on the English language:
    </p>
    <dl>
      <dt>Meaningful Characters Ratio</dt>
      <dd>This feature models the ratio of characters that compose meaningful words. Domains with a low ratio are likely automatically generated.</dd>
      <dt>n-gram Normality Score</dt>
      <dd>This class of features captures the pronounceability of the chosen prefix of a domain. This problem is well studied in the language form field, which is a field of linguistics, the scientific study of human language. The problem of calculating the pronounceability of a word is reduced to quantifying the extent to which a string adheres to the phonotactics of the (English) language. The more permissible the sequence of phonemes, the more pronounceable a word is. Domains with a scarce number of such sequences are likely automatically generated.</dd>
    </dl>
  </div>
  <div class="col-md-6">
      <img src="/static/images/phoenix_filtering.png" alt="" class="img-rounded full-width" id="feature-vector">
  </div>
</div>
<div class="row">
  <hr>
  <div class="col-md-6">
    <h3>Statistical Linguistic Filter</h3>
    <p>
      Phoenix uses the above mentioned four features to build features vectors:
      $$ \vec{f(d)} = [ R(d), S_1(d), S_2(d), S_3(d) ]^T $$
      It extracts these features from a dataset $D_{HGD}$ of HGDs (the 100,000 most popular domains according to Alexa) and calculates their mean $\mu = [\overline{R}, \overline{S1}, \overline{S2}, \overline{S3}]^T$  and covariance  matrix  C,  which respectively  represent the statistical average values of the features, and their correlation. Strictly speak- ing, the mean defines the centroid of the HGD dataset in the features’ space, whereas the covariance identifies the shape of the hyperellipsoid around the centroid containing all the samples. Our filter constructs a confidence interval, with the shape of such hyperellipsoid that allows us to separate HGDs from AGDs with a measurable, statistical error that we set a priori.
    </p>
  </div>
  <div class="col-md-6">
    <h3>Distance Threshold</h3>
    <p>
    </p>
  </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/js/radar-chart.js"></script>
    <script src="/static/js/filtering.js"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" src="/static/js/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endblock %}
