{% extends 'layout/base.html' %}

{% block style %}
<link href="/static/css/flags16.css" rel="stylesheet" media="screen">
{% endblock %}

<!-- Body -->
{% block container %}

<div class="row">
  <h2>{{ record.domain }}</h2>
    <span class="label label-warning">{{ record.label }}
    <span class="glyphicon glyphicon-tag"></span>
    </span>
  <hr>
</div>

<div class="row">
  <div class="col-md-6">
    <!-- Map Panel -->
    <div class="panel panel-info" id="map-panel">
      <div class="panel-heading">
        <h3 class="panel-title">Map</h3>
      </div>
      <div class="panel-body">
        <div id="map-canvas-domain"></div>
      </div>
    </div>
    <!-- Timeline -->
    <div class="col-md-12 alpha omega">
      <div class="panel panel-info" id="map-panel">
        <div class="panel-heading">
          <h3 class="panel-title">Timeline</h3>
        </div>
        <div class="panel-body">
          <div id="my-timeline"></div>
        </div>
      </div>
    </div>
    <!-- Countries -->
    <div class="col-md-4 alpha">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Countries</h3>
      </div>
      <table class="table f16">
        {% for country_code, country_name in countries.iteritems() %}
        <tr>
          <td><div class="flag {{ country_code }}"></div></td>
          <td>{{ country_name }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <!-- Dates -->
  <div class="col-md-8 omega">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Dates</h3>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <strong>First DNS resolution</strong>
            </td>
            <td>
              <span class="glyphicon glyphicon-calendar">
              {{ record.first_resolution_timestamp.strftime('%a, %d %b %Y') }}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Last DNS resolution</strong>
            </td>
            <td>
              <span class="glyphicon glyphicon-calendar">
              {{ record.last_resolution_timestamp.strftime('%a, %d %b %Y') }}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <strong>First DNS request</strong>
            </td>
            <td>
              <span class="glyphicon glyphicon-calendar">
              {{ record.first_request_timestamp.strftime('%a, %d %b %Y') }}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Last DNS request</strong>
            </td>
            <td>
              <span class="glyphicon glyphicon-calendar">
              {{ record.last_request_timestamp.strftime('%a, %d %b %Y') }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <!-- DNS Queries -->
  <div class="col-md-6">
    <div class="panel panel-info" id="map-panel">
      <div class="panel-heading">
        <h3 class="panel-title">DNS Queries History</h3>
      </div>
      <div id="timeline"></div>
      <div id="mini-timeline"></div>
    </div>
    <div class="panel panel-info" id="network-panel">
      <div class="panel-heading">
        <h3 class="panel-title">Resolved IPs</h3>
      </div>
      <div id="graph"></div>
    </div>
  </div>




</div>

{% endblock %}

<!-- Scripts -->
{% block scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjLu93p4ouLPm4CeQP9tTDR6hVbe7qjkc&sensor=false"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
<script src="/static/js/domain.js"></script>
<script type="text/javascript" src="/static/js/storyjs-embed.js"></script>
<script>
    $(document).ready(function() {
        createStoryJS({
            type:       'timeline',
            width:      '100%',
            height:     '230',
            source:     '/domain/{{ record.domain }}?timeline',
            embed_id:   'my-timeline'
        });
    });
</script>
<script src="/static/js/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/js/domain_timeline.js"></script>
<script src="/static/js/ip_network.js"></script>
<script>
  getDomainJson('{{ record.domain }}');
</script>
<script>
  drawTimeline('/domain/{{ record.domain }}?json');
</script>
<script>
  drawIPNetwork('/domain/{{ record.domain }}?json');
</script>


{% endblock %}