{% extends 'layout/base.html' %}

{% block container %}

<div class="row">
	<div class="col-md-3">
		<div data-spy="affix" data-offset-top="40"><!-- Dashboard -->
				<div class="panel panel-default">
		  		<div class="panel-heading"><h2 class="panel-title">Dashboard</h2></div>
		  		<ul class="list-group">
		  		 	<li class="list-group-item">
		  		 		<h5>Number of Queries</h5>
		  		 		<div class="row">
		  		 			<div class="col-md-6">
		  		 				<p id="queries-min"></p>
		  		 			</div>
		  		 			<div class="col-md-6">
		  		 				<p id="queries-max" class="text-right"></p>
		  		 			</div>
		  		 		</div>
		  		 		<div id="slider-range"></div>
		  		 	</li>
				  	<li class="list-group-item">
				  		<h5>Time Range</h5>
              <div class="row">
                <div class="col-md-6">
    				  		<div class="form-group">
    					  		<label for="datepicker-from">First Request</label>
    					  		<input type="text" class="form-control" id="datepicker-from">
    					  	</div>
                </div>
                <div class="col-md-6">
    					  	<div class="form-group">
    					  		<label for="datepicker-to">Last Request</label>
                    <input type="text" class="form-control" id="datepicker-to">
    				  		</div>
                </div>
              </div>
				  	</li>
				  	<li class="list-group-item">
				  		<h5>Labels</h5>
				  		<label class="checkbox-inline">
							  <input type="checkbox" id="dgaCheckbox" checked> DGA
							</label>
							<label class="checkbox-inline">
							  <input type="checkbox" id="nonDgaCheckbox" checked> non DGA
							</label>
							<label class="checkbox-inline">
							  <input type="checkbox" id="nxdomainCheckbox" checked> NX
							</label>
				  	</li>
				  	<li class="list-group-item">
				  		<div class="row">
								<div class="col-md-12">
									<button class="btn btn-primary full-width" id="update-button">Update</button>
								</div>
							</div>
				  	</li>
					</ul>
		  	</div>
		  	<!-- / Dashboard -->
		  	<!-- Download -->
		  	<div class="panel panel-default">
		  		<div class="panel-heading">
		  			<h2 class="panel-title">Download</h2>
		  		</div>
		  			<ul class="list-group">
							<li class="list-group-item">
					  		<div class="row">
						  		<div class="col-md-6">
						  			<button class="btn btn-info full-width" id="json-download-button">.json</button>
						  		</div>
						  		<div class="col-md-6">
						  			<button class="btn btn-info full-width" id="csv-download-button">.csv</button>
						  		</div>
					  		</div>
					  	</li>
				  	</ul>
		  	</div>
		  </div>
  	<!-- /Download -->
	</div>
	<div class="col-md-9">
		<h2>
			Malicious Domains
			<hr>
		</h2>
		<!-- Malicious Domains List -->
		<table class="table table-hover selectable" id="domains-table">
			<thead>
				<tr>
					<th>Domain Name</th>
					<th>First DNS Request</th>
					<th>Last DNS Request</th>
					<th>Labels</th>
				</tr>
			</thead>
			<tbody id="domains-list">
			{% for row in rows %}
					<tr href="/domain/{{ row.domain }}">
						<td>
              <span class="glyphicon glyphicon-globe"></span>
              {{ row.domain }}
            </td>
						<td>
							<span class="glyphicon glyphicon-calendar"></span>
							{{ row.first_req_timestamp.strftime('%a, %d %b %Y') }}
						</td>
						<td>
							<span class="glyphicon glyphicon-calendar"></span>
							{{ row.last_req_timestamp.strftime('%a, %d %b %Y') }}
						</td>
						<td>
							<span class="glyphicon glyphicon-tags"></span>
              {% for label in row.labels %}
                  <span class="label label-default"> {{ label }} </span>
              {% endfor %}
						</td>
					</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Loading Data</h4>
        </div>
        <div class="modal-body">
          <div class="progress progress-striped active">
  					<div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
					</div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/dateformat.js"></script>
	<script type="text/javascript" src="/static/js/domains.js"></script>
{% endblock %}