{% extends 'layout/base.html' %}

{% block style %}
<link href="/static/css/flags32.css" rel="stylesheet" media="screen">
{% endblock %}

<!-- Body -->
{% block container %}

<div class="row">
	<h2>{{ record.domain }}</h2>
	<hr>
	<div class="col-md-5">
		<h3>Map</h3>
		<div id="map-canvas-domain"></div>
	</div>
	<div class="col-md-7">
		<h3>Timeline</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-5">
		<h3>Countries</h3>
		<table class="f32">
			{% for country in record.country_preview %}
			<tr>
				<td><div class="flag {{ country.country }}"></td>
				<td>{{ country.country }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

{% endblock %}

<!-- Scripts -->
{% block scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjLu93p4ouLPm4CeQP9tTDR6hVbe7qjkc&sensor=false"></script>
<script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
<script src="/static/js/domain.js"></script>
{% endblock %}