{% extends 'layout/base.html' %}

{% block container %}

<div class="row">
	<div class="col-md-3">
		<div  data-spy="affix" data-offset-top="10"><!-- Dashboard -->
				<div class="panel panel-default">
		  		<div class="panel-heading"><h2 class="panel-title">Dashboard</h2></div>
		  		<ul class="list-group">
		  		 	<li class="list-group-item">
		  		 		<h5>Number of Queries</h5>
		  		 		<div class="row">
		  		 			<div class="col-md-6">
		  		 				<p id="queries-min"></p>
		  		 			</div>
		  		 			<div class="col-md-6">
		  		 				<p id="queries-max" class="text-right"></p>
		  		 			</div>
		  		 		</div>
		  		 		<div id="slider-range"></div>
		  		 	</li>
				  	<li class="list-group-item">
				  		<h5>Time Range</h5>
				  		<div class="form-group">
					  		<label for="datepicker-from">First Request</label>
					  		<input type="text" class="form-control" id="datepicker-from">
					  	</div>
					  	<div class="form-group">
					  		<label for="datepicker-to">Last Request</label>
					  		<input type="text" class="form-control" id="datepicker-to">
				  		</div>
				  	</li>
				  	<li class="list-group-item">
				  		<h5>Labels</h5>
				  		<label class="checkbox-inline">
							  <input type="checkbox" id="dgaCheckbox" value="option1"> DGA
							</label>
							<label class="checkbox-inline">
							  <input type="checkbox" id="nonDgaCheckbox" value="option2"> non DGA
							</label>
							<label class="checkbox-inline">
							  <input type="checkbox" id="nxdomainCheckbox" value="option2"> NX
							</label>
				  	</li>
				  	<li class="list-group-item">
				  		<div class="row">
								<div class="col-md-12">
									<button class="btn btn-primary full-width" id="update-button">Update</button>
								</div>
							</div>
				  	</li>
					</ul>
		  	</div>
		  	<!-- / Dashboard -->
		  	<!-- Download -->
		  	<div class="panel panel-default">
		  		<div class="panel-heading">
		  			<h2 class="panel-title">Download</h2>
		  		</div>
		  			<ul class="list-group">
							<li class="list-group-item">
					  		<div class="row">
						  		<div class="col-md-6">
						  			<button class="btn btn-info full-width" id="json-download-button">.json</button>
						  		</div>
						  		<div class="col-md-6">
						  			<button class="btn btn-info full-width" id="csv-download-button">.csv</button>
						  		</div>
					  		</div>
					  	</li>
				  	</ul>
		  	</div></div>
  	<!-- /Download -->
	</div>
	<div class="col-md-9">
		<h2>
			Malicious Domains
			<hr>
		</h2>
		<!-- Malicious Domains List -->
		<table class="table">
			<thead>
				<tr>
					<th>Domain Name</th>
					<th>First Req.</th>
					<th>Last Req.</th>
					<th>Labels</th>
				</tr>
			</thead>
			<tbody id="domains-list">
			{% for row in rows %}
				<tr>
					<td>{{ row.domain }}</td>
					<td>{{ row.first_req_timestamp }}</td>
					<td>{{ row.last_req_timestamp }}</td>
					<td>{{ row.labels }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="/static/js/domains.js"></script>
{% endblock %}