{% extends 'layout/base.html' %}

{% block style %}
	<link rel="stylesheet" href="/static/css/fingerprinting.css">
{% endblock %}

{% block container %}
<div class="row">
	<div class="col-md-12">
		<h2>
			AGD Fingerprinting
			<hr>
		</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div id="clusters-force"></div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Dashboard</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <label for="select-cluster">Select a cluster</label>
              <select name="select-cluster" id="select-cluster" class="form-control">
                <option value="none">none</option>
              </select>
            </div>
          </div>
        </div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
          <h3 class="panel-title">Cluster Info</h3>
      </div>
      <table class="table">
      	<tr>
      		<td width="30%"><strong>Public Suffixes</strong></td><td id="cluster-suffixes"></td>
      	</tr>
      	<tr>
      		<td><strong>IPs</strong></td><td id="cluster-ips"></td>
      	</tr>
      	<tr>
      		<td><strong>Numerical Ratio</strong></td><td id="cluster-numerical"></td>
      	</tr>
      	<tr>
      		<td><strong>Length Interval</strong></td><td id="cluster-length"></td>
      	</tr>
      	<tr>
      		<td><strong>Character Set</strong></td><td id="cluster-cset"></td>
      	</tr>
      </table>
		</div>
	</div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Explanation</h2>
    <hr>
  </div>
</div>
<div class="row">
	<div class="col-md-6">
		The AGD clusters identified with the previous processing are used to extract fingerprints of the DGAs that generated them. In other words, the goal of this step is to extract the invariants of the DGAs. We use these fingerprints in the AGD Detection module 
	</div>
	<div class="col-md-6">
		to assign labels to previously-unseen domains, if they belong to one of the clusters.
		Given a generic AGD cluster E, corresponding to a given DGA, we extract the following cluster features:
	</div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Linguistic Features</h3>
    <dl>
    	<dt>CF1: C&ampC Servers Addresses</dt>
			<dd>Defined as the IPs resolved by cluster domains.</dd>
			<dt>CF2: Chosen Prefix Length Range</dt>
			<dd>Captures the lengths of the chosen prefixes allowed for the domains in E.</dd>
			<dt>CF3: Chosen Prefix Character Set</dt>
			<dd>It captures which characters are used during the random generation of the domain names.</dd>
			<dt>CF4:	Chosen	Prefix	Numerical	Characters	Ratio	Range</dt>
			<dd>
				Captures the ratio of numerical characters allowed in the chosen prefix of a given domain.
			</dd>
			<dt>CF5: Public Suffix Set</dt>
			<dd>The set of eTLDs employed by the domains in E.</dd>
    </dl>
  </div>
  <div class="col-md-6">
    <h3>AGD Detection Module</h3>
    <p>
      This module receives a previously-unseen domain d and decides whether it is automatically generated by running the AGD Filtering step with a loose threshold $\lambda$. If d is automatically generated, it is matched by the Labeler against the fingerprints of the known DGAs on the quest for correspondences.
    </p>
  </div>
</div>
{% endblock %}

{% block scripts %}
	<script src="/static/js/d3.v3.min.js" charset="utf-8"></script>
	<script src="/static/js/fingerprinting.js"></script>
	<script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" src="/static/js/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}