<head>
<style>
	.bar { fill: steelblue; }

	svg path {
		opacity: 0;
	}

	svg text {
		font-size: 10px;
		font-family: sans-serif;
	}

	.y.axis line {
		stroke: #ddd;
	}

	.x.axis line {
		stroke: #ddd;
	}
</style>
</head>


<div id="timeline"></div>

<script src="/static/js/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/js/jquery.min.js" charset="utf-8"></script>
<script>

var m = [40, 40, 80, 40],
    w = 640 - m[1] - m[3],
    h = 480 - m[0] - m[2];

var x = d3.time.scale().range([0,w]),
		y = d3.scale.linear().range([h,0]),
		xAxis = d3.svg.axis().scale(x).ticks(d3.time.day, 1).orient("bottom").tickSize(-h, 0).tickPadding(6),
		yAxis = d3.svg.axis().scale(y).orient("right").tickSize(-w).tickPadding(6),
		parse = d3.time.format("%a, %d %b %Y %H:%M:%S").parse;

var svg = d3.select("#timeline").append("svg:svg")
		.attr("width", w + m[1] + m[3])
    .attr("height", h + m[0] + m[2])
	.append("svg:g")
		.attr("transform", "translate(" + m[3] + "," + m[0] + ")");

svg.append("svg:g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + h + ")");


svg.append("svg:g")
    .attr("class", "y axis")
    .attr("transform", "translate(" + w + ",0)");


d3.json("/static/data/domain_timeline.json", function(error, json) {
	$.each(json.queries, function(index, element) {
		element.date = element.date.replace(" GMT", "");
		update(json.queries);
	});
});

function update(data) {
	x.domain([new Date(d3.min(data, function(d) { return parse(d.date); }).getTime() - (6 * 60 * 60 * 1000)),
						new Date(d3.max(data, function(d) { return parse(d.date); }).getTime() + (6 * 60 * 60 * 1000))
						]);

	y.domain([0, d3.max(data, function(d) { return d.count;})]);

	svg.select("g.x.axis").call(xAxis);
	svg.select("g.y.axis").call(yAxis);

	svg.selectAll(".bar")
		.data(data)
	.enter().append("rect")
		.attr("class", "bar")
		.attr("x", function(d) { return x(parse(d.date)); })
		.attr("y", function(d){ return y(d.count); })
		.attr("width", "10px")
		.attr("height", function(d) { return h - y(d.count); });
}


</script>