{% extends 'layout/base.html' %}

{% block landing %}
<div class="landing">
	<div class="container">
		<div class="row">
			<div class="col-md-12" id="landing-box">
				<div id="landing-button-group">
					<div class="row">
						<div class="col-md-6">
							<a href="/how_it_works">
								<button class="btn btn-lg btn-primary">See how it works!</button>
							</a>
						</div>
						<div class="col-md-6">
							<a href="/overview">
								<button class="btn btn-lg btn-primary">Take a tour!</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block container %}

	<div class="row">
		<hr>
		<div class="col-md-4 text-center">
			<img src="/static/images/phoenix-feature_1.png" alt="Phoenix Feature 1" class="full-width">
			<h2>Passive DNS</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
		</div>
		<div class="col-md-4 text-center">
			<img src="/static/images/phoenix-feature_2.png" alt="Phoenix Feature 2">
			<h2>Botnets, clustered</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
		</div>
		<div class="col-md-4 text-center">
			<h2>Feature 3</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
		</div>
	</div>

{% endblock %}