{% extends 'layout/base.html' %}

{% block style %}
	<link href="/static/css/flags32.css" rel="stylesheet" media="screen">
	<link href="/static/css/flags16.css" rel="stylesheet" media="screen">
{% endblock %}

{% block container %}

<div class="row">
	<div class="col-md-12">
		<h2>
			Malicious IPs
			<hr>
		</h2>
	</div>
</div>

<div class="row">
	<!-- Dashboard -->
	<div class="col-md-3">
		<div  data-spy="affix" data-offset-top="40">
			<div class="panel panel-default">
				<div class="panel-heading"><h2 class="panel-title">Dashboard</h2></div>
				<ul class="list-group">
		  		<li class="list-group-item">
		  			<h5>Countries</h5>
		  			<div class="pre-scrollable scrolls f32" id="ips-countries-selector">
		  				{% for country in countries %}
		  					<label class="checkbox-inline" style="line-height: 32px; ">
		  						<input type="checkbox" class="country-checkbox" id="{{ country }}" checked>
		  						<div class="row">
		  							<div class="col-md-4">
		  								<span class ="flag {{ country }}"></span>
		  							</div>
		  							<div class="col-md-6 uppercase">
		  									{{ country }}
		  							</div>
		  						</div>
								</label><br>
		  				{% endfor %}
		  			</div>
		  		</li>
		  		<li class="list-group-item">
				  		<div class="row">
								<div class="col-md-12">
									<button class="btn btn-primary full-width" id="update-button">Update</button>
								</div>
							</div>
				  	</li>
		  	</ul>
			</div>

			<div class="panel panel-default">
	  		<div class="panel-heading">
	  			<h2 class="panel-title">Download</h2>
	  		</div>
	  			<ul class="list-group">
						<li class="list-group-item">
				  		<div class="row">
					  		<div class="col-md-6">
					  			<button class="btn btn-info full-width" id="json-download-button">.json</button>
					  		</div>
					  		<div class="col-md-6">
					  			<button class="btn btn-info full-width" id="csv-download-button">.csv</button>
					  		</div>
				  		</div>
				  	</li>
			  	</ul>
	  	</div>
		</div>
	</div><!-- / Dashboard -->
	<!-- Ips -->
	<div class="col-md-9">
		<table class="table f16">
			<!-- HEAD -->
			<thead>
				<tr>
					<th>IP Address</th>
					<th>Country</th>
					<th>AS Name</th>
					<th>AS Code</th>
				</tr>
			</thead>
			<!-- BODY -->
			<tbody id="ips-table">
				{% for row in rows %}
					<tr>
						<td>{{ row.ip }}</td>
						<td class="uppercase">
							<span class="flag {{ row.country_code }}"></span>
							{{ row.country_code }}
						</td>
						<td>{{ row.as_name }}</td>
						<td>{{ row.as_code }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div><!-- / Ips -->
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Loading Data</h4>
        </div>
        <div class="modal-body">
          <div class="progress progress-striped active">
  					<div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
					</div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}

{% block scripts %}
	<script src="/static/js/ips.js"></script>
{% endblock %}