<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Phoenix</title>
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 700px }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjLu93p4ouLPm4CeQP9tTDR6hVbe7qjkc&sensor=false">
    </script>
    <script type="text/javascript">
      var map;
      var markersArray = [];
      var bounds = new google.maps.LatLngBounds();

      function initialize() {
        var location;
        {% for cluster in clusters %}
          {% for record in cluster.records %}
            location = new google.maps.LatLng({{ record['latitude'] }},{{ record['longitude'] }});
            addMarker(location)
            bounds.extend(location);
          {% endfor %}
        {% endfor %}

        var mapOptions = { mapTypeId: google.maps.MapTypeId.ROADMAP };
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
        map.fitBounds(bounds);
        map.panToBounds(bounds);  
        for (i in markersArray) { markersArray[i].setMap(map); }
      }

      function addMarker(location) {
        marker = new google.maps.Marker({
          position: location,
          map: map,
          icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
        });
        markersArray.push(marker);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Phoenix</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
      <!-- Body content -->
      <div class="container">
        <div class="row">
          <!-- Google Map -->
          <div class="col-md-9">
            <div id="map-canvas"></div>
          </div>
          <!-- /Google Map -->
          <!-- Dashboard -->
          <div class="col-md-3">
            <h3>Dashboard</h3>
          </div>
          <!-- /Dashboard -->
        </div>
      </div>
  </body>
</html>