BulkWhois==0.2.1
Django==1.5.4
Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
South==0.8.2
Werkzeug==0.9.4
django-classy-tags==0.4
django-cms==2.4.2
django-mptt==0.5.2
django-sekizai==0.7
html5lib==0.99
itsdangerous==0.23
numpy==1.7.1
pycountry==1.0
pygeoip==0.2.7
pymongo==2.6.1
python-dateutil==1.5
scipy==0.12.0
six==1.4.1
termcolor==1.1.0
whois==0.7
wsgiref==0.1.2
