BulkWhois==0.2.1
Flask==0.10.1
Jinja2==2.7.1
MarkupSafe==0.18
South==0.8.2
Werkzeug==0.9.4
html5lib==0.99
itsdangerous==0.23
pycountry==1.0
pygeoip==0.2.7
pymongo==2.6.1
python-dateutil==1.5
six==1.4.1
wsgiref==0.1.2
gunicorn==0.17.4
